extends base
include mixins/departments

block content
    if errorMessage 
        span=errorMessage
    div 
        a.button(href="/departmentAdd") 부서등록   
    table(style="max-width:500px")
        tr
            th 부서명 
            th(style="width:30px; text-align:center") 삭제
        each item in departments
            +departments(item)
        else 
            span.empty__message 부서가 비어있습니다. 등록해 주세요. 