extends base
include mixins/departments

block content
    div(style="max-width:600px;margin: 0 auto")
        h1(style="font-size:80px;") 개발 진행중입니다.
        img(src="/static/img/sapgil.jpg", alt="개발진행중입니다.", style="width:500px;")

    