extends base
include mixins/departments

block content
    div(style="max-width:600px;margin: 0 auto")
        h1(style="font-size:90px;") 삽질 중입니다!
        img(src="/static/img/sapgil.jpg", alt="삽질중입니다.", style="width:500px;")

    