extends base

block content
    if errorMessage 
        span=errorMessage 
    form(method="post")
        input(placeholder="코드", name="code", type="text", required)
        input(placeholder="연차종류명", name="name", type="text", required)
        input(placeholder="비중", name="value", type="text", required)

block scripts
    script(src="/static/js/department.js")