#{loggedIn}
header
    a(href="/").header__logo
        //-i.fab.fa-youtube
        img(src="/static/img/palm_logo.png", style="width:80px;", alt="팜로고")
    nav
        ul
            if loggedIn
                li
                    span #{loggedInUser.name}님 입장!
                li
                    a(href="/logout") Log Out
                