#{loggedIn}
header
    .container-sun(style="display:none")
        svg.svg-sun(version='1.1' viewbox='0 0 100 100' preserveaspectratio='xMinYMin meet')
            circle#sun(cx='50' cy='50' r='35')
    #clouds(style="display:none")
        .cloud.x1
        .cloud.x2
        .cloud.x3
        .cloud.x4
        .cloud.x5 
    a(href="/home").header__logo
        //-i.fab.fa-youtube
        img(src="/static/img/palm_logo.png", style="width:80px;", alt="팜로고")
    nav
        ul
            if loggedIn
                li
                    span #{loggedInUser.name}님 입장!
                li
                    a(href="/logout") Log Out
                