#{loggedIn}
header
    a(href="/home").header__logo
        i.fab.fa-youtube
    nav
        ul
            if loggedIn
                li
                    span #{loggedInUser.name}님 입장!
                li
                    a(href="/logout") Log Out
                