#{loggedIn}
header
    a(href="/home").header__logo
        i.fab.fa-youtube
    nav
        ul
            if loggedIn
                li
                    a(href="/logout")  Log Out
                